*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bg-primary:#0f172a;
    --bg-secondary:#1e293b;

    --accent-primary:#8b5cf6;
    --accent-secondary:#a78bfa;

    --text-primary:#f8fafc;
    --text-secondary:#cbd5e1;

    --card-bg:#273449;
    --card-bg-hover:#334155;

    --card-border:rgba(167,139,250,0.2);

    --card-shadow:
        0 8px 24px rgba(0,0,0,0.25);

    --card-shadow-hover:
        0 12px 30px rgba(139,92,246,0.25);

    --input-bg:#273449;
    --input-border:#475569;
    --input-focus:#8b5cf6;
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
    height:95vh;
    width:100vw;
    background-color: var(--bg-secondary);

}

.container{
    display:flex;
    flex-direction: column;
    gap:1rem;
    height:35vh;
    width:30vw;
    border:var(--card-border);
    padding:1rem;
    border-radius: 1rem;
    position:relative;
    background: var(--card-bg);
    margin-left: 1rem;
    box-shadow: var(--card-shadow);
}

.head{
    height:fit-content;
}
.head h1{
    color:var(--accent-primary);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.head h1:hover{
    color:var(--accent-secondary);
}
.inputs{
    display:flex;
    flex-direction: column;
    gap:3rem;
    position: relative;
    height: 5rem;    
}

.input{
    display:flex;
    position:relative;
}

.input input{
    position:absolute;
    width:100%;
    outline:none;
    height:2.5rem;
    background:var(--input-bg);
    border:0.1rem solid var(--input-border);
    border-radius: 0.5rem;
    color:navy;
    transition:all 0.5s linear;
}

.input label{
    position:absolute;
    left:0.5rem;
    top:0.5rem;
    font-size: small;
    color:var(--accent-primary);
    transition:all 0.3s ease; 
    
}
.input input:focus{
    border: 0.1rem solid var(--input-focus);
    color:var(--accent-primary);
    padding:0 0.4rem;
}
.input label{
    position:absolute;
    left:0.5rem;
    top:0.5rem;
    color:var(--accent-primary);
    transition:all 0.3s ease;
    pointer-events:none;
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label{
    top:-0.5rem;
    left:0.5rem;
    font-size:0.75rem;
    background:black;
    padding:0rem 0.2rem;
    border-radius:0.1rem;
    color:var(--accent-secondary);
}

.loginbut{
    display:flex;
    width:100%;
    height:2rem;
    
}

.loginbut button{
    width:100%;
    font-weight: 600;
    font-size: 1.2rem;
    background:var(--accent-primary);
    border: 0.1rem solid var(--accent-secondary);
    border-radius: 1rem;
    transition: all 0.3s linear;

}

.loginbut button:hover{
    background: var(--accent-secondary);
    border:0.1rem solid var(--accent-primary);
}